.laser-flow-container {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
}

.laser-flow-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}